---
import type { TeamMember } from "../types";

interface Props {
  member: TeamMember;
}

const { member } = Astro.props;

const transitionName = `member-${member.name.replace(/\s+/g, "-").toLowerCase()}`;
//TODO add instagram icon and twitter icon
// maybe convert it to key value instead of 5 socials

const socialOrder = ['linkedin', 'github', 'website', 'instagram', 'twitter'] as const;
const availableLinks = socialOrder
  .filter(key => member.social_links?.[key as keyof typeof member.social_links])
  .slice(0, 2)
  .map(key => ({
    key,
    url: member.social_links[key as keyof typeof member.social_links],
    icon: key === 'linkedin' ? '/icons/linkedin.svg' : 
          key === 'github' ? '/icons/github.svg' : 
          '/globe.svg'
  }));
---

<div
  class="items-center h-full grid grid-cols-7"
  transition:name={transitionName}
>
  <img
    width="100"
    height="133"
    loading="lazy"
    class="aspect-[3/4] h-full object-cover flex-shrink-0 col-span-3"
    src={member.image_url}
    alt={member.name}
  />
  <div
    class="flex flex-col justify-between h-full ml-2 flex-grow col-span-4 p-2"
  >
    <div>
      <h3 class="font-semibold text-fg-0 text-sm">{member.name}</h3>
    </div>
    <div>
      <p class="text-xs text-fg-1">{member.position}</p>

      {
        availableLinks.length > 0 && (
          <div class="flex items-center gap-3 mt-2 ">
            {availableLinks.map((link) => (
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                aria-label={`${member.name}'s ${link.key}`}
                class="text-fg-1 hover:text-fg-0 transition-colors bg-fg-0/20 p-1"
              >
                <img
                  src={link.icon}
                  alt={`${link.key} icon`}
                  class="w-3.5 h-3.5"
                  loading="lazy"
                  decoding="async"
                />
              </a>
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
